	<footer id="footer">
		<ul class="subNavi">
			<li><a href="">sub menu1</a></li>
			<li><a href="">sub menu2</a></li>
			<li><a href="">sub menu3</a></li>
			<li><a href="">sub menu4</a></li>
			<li class="lastChild"><a href="">sub menu5</a></li>
		</ul>
		<small class="copyright">copyright</small>
	</footer>
</div>
