</head>
<body id="<%= page_id %>">
<div id="container">
	<header id="header" class="clearfix">
		<h1>サンプルテキスト</h1>
		<div class="logo">サイトロゴ</div>

		<div class="banner">
			バナー
		</div>

		<ul class="otherNavi">
			<li class="contact"><a href="">お問い合わせ</a></li>
			<li class="sitemap"><a href="">サイトマップ</a></li>
		</ul>
	</header>

	<nav id="gNavi">
		<ul class="clearfix">
			<li><a href="">menu1</a></li>
			<li><a href="">menu2</a></li>
			<li><a href="">menu3</a></li>
			<li><a href="">menu4</a></li>
			<li><a href="">menu5</a></li>
		</ul>
	</nav>