<head>
<meta charset="UTF-8">
<meta name="description" content="<%= page_description %>">
<meta name="keywords" content="<%= page_keywords %>">
<title><%= page_title %></title>
<link href="assets/css/common.css" rel="stylesheet">