body {
  margin: 0; }

h1 {
  color: #f00;
  -webkit-transform: scale(2);
      -ms-transform: scale(2);
          transform: scale(2);
  -webkit-transform-origin: top left;
      -ms-transform-origin: top left;
          transform-origin: top left; }
