<%
var page_title = 'title';
var page_description = 'desc';
var page_keywords = 'keywords';
var page_id = 'index';
%><% include assets/include/_start %>
<% include assets/include/_head_before %>
<link href="assets/css/index.css" rel="stylesheet">
<% include assets/include/_head_after %>
<% include assets/include/_header %>

<ol id="pagePath">
	<li class="root"><a href="">サイトタイトル</a>&gt;</li>
	<li>ページタイトル</li>
</ol>

<div id="main">
	<div id="conts">
		<section>
			<h2>ページタイトル</h2>
			<section>
				<h3>中見出し</h3>
				<section>
					<h4>小見出し</h4>
				</section>
			</section>
		</section>
	</div><!-- /#coats -->
	<div id="sideBar">
	サイドバー
	</div><!-- /#sideBar -->
</div><!-- /#main -->

<% include assets/include/_footer %>
<% include assets/include/_end %>
